//layout for admin panel has class 'admin'
@import "clubs";
.admin{
  .admin-panel{
    .navbar-default{
      background: $admin-navbar-background;
      a{
        color: white;
        &:hover{
          color: $dark-blue;
        }
        &.active{
          background: $admin-navbar-item-active;
          &:hover{
            background: $admin-navbar-item-hover;
          }
        }
      }
    }
    .grid-view{
      .table-image{
        max-width: 100px;
      }
    }
  }
  .user-edit {
    .page-title {
      text-align: center;
      margin-bottom: 20px;
      border-bottom: 1px solid $border-grey;
    }
  }
  #preview-pane{
    .preview_image{
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
    }
  }
}