#create-club-form{
  .club-admins{
    list-style: none;
    max-height: 100px;
    overflow: auto;
    position: absolute;
    z-index: 99999;
    width: 90%;
    li{
      margin-left: -40px;
      padding-left: 15px;
      height: 30px;
      line-height: 30px;
      font-size: 1.1em;
      margin-bottom: 2px;
      border-bottom: 1px solid;
      background: $dropdown-bg-admin;
      cursor: pointer;
      &:hover{
        background: $dropdown-bg-admin-hover;
      }
    }
  }
}
.club-search-row{
  border: 1px solid grey;
  margin-bottom: 5px;
  padding: 5px 10px;
}