form{
  .form-group{
    &.required:not(.field-clubform-admin_id){
      label{
        &:after{
          content: '*';
          color: red;
          position: relative;
          left: 5px;
        }
      }
    }
  }
  .form-title{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid $border-grey;
  }
  &#club-list{
    label{
      text-align: left;
    }
  }
}