html{
  body{
    section {
      &.main-bg-image {
        margin-top: 50px;
        height: 650px;
        width: 100%;
        overflow: hidden;
        background-image: url("/images/index-bg.jpg");
        background-position: center center;
        background-size: cover;
      }
      &.slider-index {
        #carousel-index {

          .carousel-inner {
            margin-top: 40%;
            .item {
              .image {
                padding-right: 0px !important;
                padding-left: 0px !important;
              }
            }
          }
        }
      }
    }
    .container{
      &.site{
        &.index{
          padding: 0px 15px 0px;
        }
        .tabs-index{
          position: relative;
          top: -40px;
          .nav-tabs {
            border-bottom: none;
            li {
              a {
                color: $header-text-color;
                border-radius: 0px;
                border: none;
                &:hover {
                  background: #000000;
                  color: white;
                }
              }
              &.active {
                a {
                  background: $tabs-black-with-opacity;
                }
              }
            }
          }
          .panel-row{
            padding: 30px 0px;
          }
        }
      }
    }
    .wrap {
      #main-calendar-kvdate{
        display: block;
        position: absolute;
        margin-left: -45px;
        margin-top: 9px;
        button{
          background: #737373;
          border: none;
          border-radius: 0px;
        }
      }
      #custom-header{
        .navbar-left {
          li {
            border-left: 1px solid #808080;
            border-right: 1px solid #808080;
          }
        }
      }
      .custom-title{
        text-align: center;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-grey;
      }
      .custom-btn{
        outline: none;
        border: none;
        border-radius: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #ffffff;
        font-weight: 600;
        &.green{
          background: #5cb85c;
          border-bottom: 3px solid #4a934a;
          border-right: 2px solid #4a934a;
          text-shadow: 1px 5px 6px #3c783c;
          &:hover{
            background: #51a251;
            border-bottom: 3px solid #438543;
            border-right: 2px solid #438543;
          }
        }
        &.red{
          background: #ff7976;
          border-bottom: 3px solid #ff1e1c;
          border-right: 2px solid #ff1e1c;
          text-shadow: 1px 5px 6px #ff1e1c;
          &:hover{
            background: #ff6b66;
            border-bottom: 3px solid #ff0001;
            border-right: 2px solid #ff0001;
          }
        }
        &.blue{
          background: #68caff;
          border-bottom: 3px solid #47a4ff;
          border-right: 2px solid #47a4ff;
          text-shadow: 1px 5px 6px #5F5FFF;
          &:hover{
            background: #40b7ff;
            border-bottom: 3px solid #3391ff;
            border-right: 2px solid #3391ff;
          }
        }
        &.yellow{
          background: #eeff00;
          color: #656500;
          border-bottom: 3px solid #abb800;
          border-right: 2px solid #abb800;
          text-shadow: 1px 5px 6px #abb800;
          &:hover{
            background: #b0c000;
            border-bottom: 3px solid #656f00;
            border-right: 2px solid #656f00;
          }
        }
        &.default{
          background: #ffeada;
          border-bottom: 3px solid #e8d3c4;
          border-right: 2px solid #e8d3c4;
          text-shadow: 1px 5px 6px #c5b0a3;
          color: #565656;
          &:hover{
            background: #dec9bb;
            border-bottom: 3px solid #c5b0a3;
            border-right: 2px solid #c5b0a3;
          }
        }
      }
      .modal-footer {
        .btn{
          margin-bottom: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}