#product-gallery{
  .gallery-item{
    overflow: hidden;
    height: 200px;
    text-align: center;
    box-shadow: 0px 1px 5px black;
    margin-bottom: 5px;
    img{
      max-height: 200px;
    }
  }
}

#preview-pane{
  .preview-container{
    text-align: center;
  }
}

.advertisements {
  li {
    a.tab-advertisement {
      outline: none;
      border-radius: 0px;
      border: none;
      color: #ffffff;
      font-size: 1.2em;
      font-weight: 600;
      background: #bfbfbf;
    }
    &.active{
      a.tab-advertisement {
        background: #eeeeee;
        border: none;
        color: #595959;
        text-shadow: 1px 1px 3px #7D7D7D;
        border-bottom: 3px solid #757575;
      }
    }
  }
}
.site, .tab-content{
  padding: 0px;
  .product-list {
    list-style: none;
    padding: 5px 0px;
    .product-tile {
      box-shadow: 3px 2px 30px 0px rgb(132, 132, 132);
      padding: 10px 0px;
      margin-bottom: 5px;
      .picture {
        text-align: center;
        img {
          width: 150px;
        }
        .owner-photo {
          position: absolute;
          right: 5px;
          bottom: -5px;
          border-radius: 50%;
          box-shadow: 2px 1px 5px 7px #E8E8E8;
          overflow: hidden;
          border: 1px solid rgb(228, 228, 228);
          img {
            width: 50px;
            height: 50px;
          }
        }
        .glyphicon-eye-open{
          position: absolute;
          left: 4px;
          padding: 5px 5px;
          top: -7px;
        }
      }
    }
  }

  .input-group {
    &.price-group {
      padding-left: 15px;
      padding-right: 15px;
    }
  }


  .glyphicon-eye-open{
    padding: 10px;
    background: #6bb1ff;
    color: #ffffff;
    .counter{
      position: relative;
      top: -2px;
    }
  }

  .modal .slider.slider-horizontal{
    width: 100%;
  }

  .view-product{
    .image{
      img{
        width: 100%;
      }
    }
    .main-info{
      .key{
        font-size: 1.4em;
      }
      .value{
        font-size: 1.6em;
      }
    }
  }
}