//variables: colors
$header: #3c3d44;
$header-text-color: #a5a6ac;
$header-text-color-hover: white;
$admin-navbar-background: #9cc2ff;
$dark-blue: #0000b4;
$admin-navbar-item-active: #4f5ff0;
$admin-navbar-item-hover: #8f9cff;
$tabs-black-with-opacity: rgba(0, 0, 0, 0.61);
$dropdown-bg-admin: #c1c1c1;
$dropdown-bg-admin-hover: #909090;
$border-grey: #c7c7c7;
$product-key: #ffe0bd;